//-----------------------
$primary-black: #1c1c1c;

//--------------------
$primary-white: #ffffff;

$secondry-blue: #CCE1FF;

$primary-yellow: #DB9B1A;

$primary-green: #293D4A;


$primary-ash:#979FA5;



